.cabecalho{
    background: #92394B;
    color: aqua;
    font-style: italic;

}
.logo{
    width: 502px;
    height: 115px;
    top: 14px;
    left: 33px;
}
.listacabecalho{
    display: flex;

}
.item{
    font-size: 50px;
    margin-left: 60px;

}
.listacabecalho{
    display: flex;
    position: relative;
    left: 550px;
}
body{
    font-family: sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.trilha{
    background-image: linear-gradient(#92394B, #CA9DA6);
    
}

.trilha-div{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    display: flex;


}
.trilha-titulo{
    font-size: 48px;
    color: beige;
    padding: 30px 0px;
    
}
.trilha-frase{
    font-size: 30px;
    color: #352640;
    padding: 30px 0px;
    line-height: 32px;

}
.trilha-imagem{
    size: 10%;
    padding: 30px 0px;
}


.secaocursista{
    background-image: linear-gradient(#CA9DA6,#92394B);
}

.imagem-cursista{
    width: 150px;
}

.titulo-cursista{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
    text-align: center;
    padding: 24px 0px;
}

.cursista-div{
    margin: 90px; 
}

.todos-cursistas{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.rodape{
    background-color: #352640;
     
}

.listarodape{
    font-size: 50px;
    display: flex;
    position: relative;
    left: 550px;
}